.red {
	text-transform: uppercase;
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	letter-spacing: 1px;
	line-height: 17px;
	margin-bottom: 22px;
}

.category-products {
	display: flex;
	justify-content: space-evenly;
}
.products .block a img {
	float: left;
}
.products .block {
	float: left;
	margin: 15px;
	display: block;
	height: 370px;
	width: 370px;
	position: relative;
}